

  body{
    background-color: violet;
  }
*{
  border: 2px solid green;
}

.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  margin: .5em;
  gap: .5em;
}
.a, .c{
  flex-grow: 1;
}

.b{
 flex-grow: 3;
  
}

@media (min-width: 600px) {
.container {
  flex-direction: row;
  flex-wrap: wrap;
}

.a {
  width: 100%;
}
.a, .b, .c {
  maragin: 1em;
}
}